.sprint-container {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#sprint-progressbar-circle {
  width: 200px;
  height: 200px;
  margin-left: 100px;
}

.progressbar-text {
  color: #FFF;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -10%);
}

.progressbar-text .percentage {
  font-size: 2em;
}

.sprint-remaining {
}
