<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="http://vjs.zencdn.net/5.14.1/video-js.css" rel="stylesheet">
  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>

<div id="app">
  <p v-if="show.loading">Loading...</p>
  <p>{{video && video.url}}</p>
  <div id="video-container" v-show="!show.loading">
    <video id="video" class="video-js"></video>
  </div>
  <div v-show="!show.form && !show.confirmation">
    <button v-on:click="openCount()">Enter Count</button>
  </div>
  <div v-show="show.form">
    <p>Enter Count: <input type="text" v-model="count"></p>
    <p>Comment: <input type="text" v-model="comment"></p>
    <p><button v-on:click="submitCount()">Submit</button></p>
    <p><button v-on:click="cancelCount()">Cancel</button></p>
    <p>Count: {{ count }}</p>
  </div>
  <div v-show="show.confirmation">
    <p>Thanks for your help!</p>
    <p>What would you like to do next?</p>
    <div>
      <button v-on:click="reset()">Count Another Video</button>
      <a href="#">Explore the Data</a>
      <a href="index.html">Return Home</a>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
<script src="http://vjs.zencdn.net/5.14.1/video.js"></script>

<script>
new Vue({
  el: '#app',
  data: {
    show: {
      loading: true,
      form: false,
      confirmation: false
    },
    count: '',
    comment: '',
    video: undefined
  },
  mounted: function () {
    console.log('app:mounted');
    window.app = this;
    var vm = this;
    videojs('video', {
        controls: true,
        autoplay: false,
        // preload: 'auto',
        width: 640,
        height: 480,
        playbackRates: [0.1, 0.25, 0.5, 1]
      }).ready(function () {
        vm.player = this;

        vm.loadVideo();
      });
  },
  methods: {
    loadVideo: function () {
      var vm = this;
      vm.$http.get('http://localhost:8000/watch/')
        .then(function(response) {
          var video = vm.video = response.body.data;

          vm.player.src({type: 'video/mp4', src: video.url});
          vm.player.load();

          vm.show.loading = false;
        }, function(response) {
          alert('Error occurred getting video from the server');
          console.log(response);
        });
    },
    openCount: function () {
      console.log('app:openCount()');
      this.show.form = true;
    },
    submitCount: function () {
      console.log('app:submitCount(%d, %s)', this.video.id, this.count);
      var data = {
        video_id: this.video.id,
        count: +this.count,
        comment: this.comment
      };

      this.$http.post('http://localhost:8000/count/', data)
        .then(function (response) {
          this.show.form = false;
          this.show.confirmation = true;
        }, function (response) {
          alert('Error occurred submitting count to the server');
          console.log(response);
        });
    },
    cancelCount: function () {
      this.count = '';
      this.comment = '';
      this.show.form = false;
    },
    reset: function () {
      console.log('app:reset()');
      this.count = '';
      this.comment = '';
      this.show.form = false;
      this.show.confirmation = false;
      this.loadVideo();
    }
  }
});
</script>

</body>
</html>