
@import url("bootstrap-btn.css");

.annotation-container {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 160px;
}


.annotation > p {
  font-size: 0.8em;
  line-height: 1.5;
  font-family: sans-serif;
  color: #888;
}


.btn-group {
  font-family: sans-serif;
}
